.setting {
    .version{
        display: flex;
        justify-content: flex-end;
        font-size: 70%;
    }
}

.update-modal{
    position: relative;
    top: 100px;
    text-align: center;
    line-height: 100px;
}
