<ion-header>
  <ion-navbar primary>
      <ion-title>កំណត់ត្រាថ្ងៃនេះ</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="daily">
    <div class="message" *ngIf="!isExist">
        លោកអ្នកមិនទាន់មានកំណត់ត្រាសម្រាប់ថ្ងៃនេះទេ
    </div>
    <ion-list>
        <ion-item-divider light *ngIf="isExist">
            <ion-icon name="md-clipboard" item-left></ion-icon>
            សរុបកំណត់ត្រាក្នុងថ្ងៃនេះ
            <ion-badge item-right>{{outlets.length}}</ion-badge>
        </ion-item-divider>
        <button (click)="goToEdit(outlet)" ion-item *ngFor="let outlet of outlets">
            <ion-label>{{outlet.outletNameKh}}</ion-label>
            <ion-note class="en" item-right>{{outlet.orderDate | time}}</ion-note>
            <ion-icon name="ios-arrow-forward-outline" class="icon" item-right></ion-icon>
        </button>
    </ion-list>
  <button (click)="presentInsertPage()" class="fab-button" fab danger fab-bottom fab-fixed fab-right>
      <ion-icon name="md-create"></ion-icon>
  </button>

</ion-content>
