.daily{
	.fab-button {
		bottom: 64px;
	}
    .message{
        font-size: 22px;
        margin: auto;
        width: 30%;
        text-align: center;
        position: relative;
        top: 180px;
        color: gray;
    }

    ion-note{
        font-size: 14px
    }

    .icon{
        color: gray;
    }

}

