[login] {
    .header {
        padding: 20px 0px 0px 0px;
        min-height: 50px;
        text-align: center;
    }

    [loginForm]{
        width: 70%;
        margin: auto;
        display: block;
    }
}
