.daily-report {
    .message{
        font-size: 22px;
        margin: auto;
        width: 30%;
        text-align: center;
        position: relative;
        top: 180px;
        color: gray;
    }
}
